@font-face {
    font-family: 'Anton';
    src: url('/P07_PetitsPlats2.0/assets/Anton/anton-v25-latin-regular.woff2') format('woff2');
  }
html{
    font-family: 'Anton', sans-serif;
}
body{
    margin: 0 !important;
    background-color: #E5E5E5;
}
/*HEADER*/
header{
    padding: 50px;
    background:url('./assets/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png');
    background-size:cover;
    background-repeat: no-repeat;
    height: 667px;
    background-position: center;
}
header img{
    width: 207px;
}
h1{
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    color: #FFD15B;
    width: 50%;
    font-weight: 400;
    font-size: 44px;
    line-height: 66px;
    text-align: center;
}
h3{
    color: white;
}
.center{
    display: flex;
    flex-direction: column;
    margin:200px auto;
}
#search{
    display: flex;
    width: 60%;
    margin: auto;
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
    outline: none;
}
/*MAIN*/
main{
    width: 90%;
    margin: auto;
}
#filterSection{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#filterSection div{
    display: flex;
}
#filterSection div button {
    margin-right:20px;
}
/*CARD*/
#cardContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
article{
    border: 1px solid none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    overflow: hidden;
    width: 380px;
    background-color: white;
    margin-top: 50px;
}
.imgCard{
    width: 380px;
    height: 253px;
    object-fit: cover;
}
.ingredients{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
.ingredient{
    margin: auto 5px;
}
